* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.congrz {
  width: 800px;
  height: 200px;
  background-color: red;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 20px;
  border-radius: 20px;
}
.info {
  margin: 30px auto;
  width: 800px;
  padding: 20px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
  width: 800px;
  margin: 40px auto;
  perspective: 1000px;
}

.boxcard {
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.clicking,
.matchiing {
  transform: rotateY(180deg);
}
.stopclicking {
  pointer-events: none;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: #000;
  color: #fff;
}

.back {
  background-color: #eee;
  transform: rotateY(180deg);
}

.face i {
  font-size: 80px;
  color: #000;
}

@media (max-width: 820px) {
  .congrz {
    width: 300px;
    height: 200px;
  }
  .info {
    width: 300px;
  }
  .cards {
    width: 300px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;
  }

  .boxcard {
    height: 60px;
  }
  .back {
    background: none;
  }
}
